*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.meniu{
  overflow: auto;
    background-color: cyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.meniuItems{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}
.logo img{
    margin: 0px 30px;
    width: 100px;
    height: 100px;
    background-color: darkgreen;
    border-radius: 30% 10%;
}

.meniuItems li{
    margin-left: 20px;
    list-style: none;
}
.meniuItems li a{
    text-decoration: none;
    font-size: 2rem;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
    background-color:chartreuse;
  }
  li a:hover, .dropdown:hover .dropMenu {
    background-color:green;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }



  /* end of NAV */

  .left-side{
      width: 33%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      float: left;
      
  }
  .lure-type, .capturi{
    display: flex;
    flex-direction: column;
    position: static;
  }
  .lure-type a, .capturi a{
      display: flexbox;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 1.5rem;
      color: rgb(158, 154, 154);
      font-weight: bold;
  }
  .lure-type a:hover, .capturi a:hover {
      color: white;
      background-color: saddlebrown;
  }
  body {
    background-image: url('poze-peste-biban.jpg');
    
    background-attachment: fixed;
    background-size: cover;
  }


/* aside-right */
.right-side{
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 10%;
color:white;
text-align: center;
font-size: 2rem;
margin-top: 250px;
}
.right-side h2{
  grid-column-start: 1;
  grid-column-end: 3;
}
.img{
  width: 600px;
  height: 400px;
}
.img:hover{
  transition-duration: .5s;
  transition-timing-function: linear;
  transform: scale(1.4);
}

.img img{
  width: 100%;
  height:  100%;

}